/* fonts.css */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.pagefonts {
  font-family: 'Righteous', sans-serif;
}




.frontimage {
  width:70vw;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
}




.upnext { 

  margin-left: 10px;
}



